@model DailyMenuViewModel

@{
    ViewData["Title"] = "Details";
}

@using Exebite.DomainModel
<h2>Daily menu details</h2>

@using (Html.BeginForm("Details", "DailyMenu", FormMethod.Get))
{

    @*<div class="col-md-6 form-group">
            <div class="row">
                <label>Food Type: </label>
                <input type="text" id="foodType" name="foodType" />
            </div>
            <div class="row">
                <label>Search name: </label>
                <input type="text" id="searchString" name="searchString" />
            </div>
            <input type="submit" id="submitId" value="Filter" />
        </div>*@
    <div class="row">
        <div class="form-group col-sm-4 row">
            <label for="name" class="col-sm-3">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" id="name" name="Name" placeholder="Name">
            </div>
        </div>
        <div class="form-group  col-sm-4 row">
            <label for="type" class="col-sm-3">Type</label>
            <div class="col-sm-9">
                <select asp-items="@Html.GetEnumSelectList<FoodType>()" id="type" name="Type" class="form-control">
                    <option value="">All types</option>
                </select>
            </div>
        </div>
        <div class="form-group  col-sm-4 row">
            <label for="name" class="col-sm-3">Date</label>
            <div class="col-sm-9">
                <input type="date" class="form-control form-control-sm" id="name" name="Date" placeholder="Date">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4 row">
            <label for="restaurant" class="col-sm-3">Restaurant</label>
            <div class="col-sm-9">
                <div class=" input-group">
                    <input type="text" class="form-control" id="restaurant" name="Restaurant" placeholder="Restaurant">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </div>
    </div>

    @*<div class="row">
            <div class="col-md-6 form-group">
                <label>Subscribe to:</label>
                <div>
                    @for (var i = 0; i < Model.EmailPromos.Count; i++)
                    {
                        @Html.CheckBoxFor(e => e.EmailPromos[i].IsSubscribed)
                        <span>@Model.EmailPromos[i].Title</span>
                        @Html.HiddenFor(e => e.EmailPromos[i].Id)
                        @Html.HiddenFor(e => e.EmailPromos[i].Title)
                    }
                </div>
            </div>
        </div>*@
    @*<div class="row">
            <div class="col-md-6">
                <h3>Billing Address</h3>
                @Html.EditorFor(x => x.BillingAddress)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Mailing Address</h3>
                @Html.EditorFor(x => x.MailingAddress)
                <input type="submit" class="pull-right btn btn-primary" />
            </div>
        </div>*@
}

@*<form asp-controller="DailyMenu" asp-action="Details" method="get">
        <p>
           @Html.DropDownList("foodType",
                Html.GetEnumSelectList<FoodType>(),
                "All types", new { @class = "form-control" })

            <select asp-for="FoodType" asp-items="@Html.GetEnumSelectList<FoodType>()">
                <option value="">All types</option>
            </select>

            Title: <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>
    </form>*@

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.foods[0].RestaurantId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RestaurantId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.foods[0].Name)
        </dt>

        @foreach (var item in Model.foods)
        {
            <dd>
                @Html.DisplayFor(modelItem => item.Name)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{
    <script src="~/js/DailyMenu/Details.js" asp-append-version="true"></script>
}